{% extends "algo/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Login - {{ block.super }}{% endblock %}

{% block content %}
<div class="well login-well">
    <form class="form-horizontal" method="post" action="{% url 'login' %}">
        <legend>Sign in</legend>
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% buttons %}
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        {% endbuttons %}
    </form>
</div>
{% endblock %}
