/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}

/*
* Global add-ons
*/

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
* Sidebar
*/

/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

/*
* Main content
*/

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.breadcrumb {
    margin: 0 0 20px 10px;
    padding: 0;
}

.editor-breadcrumb {
    margin-bottom: 10px;
}

.main .page-header {
    margin-top: 0;
    border-bottom: none;
    margin-bottom: 10px;
}

.navbar-default {
    background-color: #eee;
    border-color: #ddd;
}

body {
    color: #444;
    font-size: 13px;
}

.login-well {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 400px;
}

.scoreboard-table {
    width: auto;
}

.scoreboard-bad {
    background-color: #f2d6d6;
}

.scoreboard-good {
    background-color: #fcf8cb;
}

.scoreboard-perfect {
    background-color: #cff0c8;
}

.table a {
    color: #666;
    text-decoration: underline;
}

.table a:hover {
    color: #444;
}

.table th a {
    color: #505050;
}

.table th a:hover {
    color: #303030;
}

.scoreboard-current-user {
    background-color: #eee;
}

.table a.scoreboard-small-link {
    font-size: 11px;
}

.scoreboard-table,
.scoreboard-table tr,
.scoreboard-table th,
.scoreboard-table td {
    border-color: #ccc !important;
}

.scoreboard-algorithm-checked {
    color: gray;
}

.scoreboard-table tbody tr {
    height: 83px;
}

.scoreboard-table th,
.scoreboard-table td {
    text-align: center;
    vertical-align: middle !important;
    width: 120px;
}

.scoreboard-writing-time {
    font-size: 11px;
    margin-top: 3px;
}

.scoreboard-check-random {
    font-weight: normal;
}

.history-verdict-column {
    width: 160px;
}

.verdict-bad {
    color: #d9230f;
}

.verdict-good {
    color: #282;
}

.history-table th,
.history-table td {
    text-align: center;
    vertical-align: middle !important;
}

.check-content {
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 800px;
}

.main .editor-header {
    font-size: 21px;
    margin-bottom: 0;
}

.main .check-header {
    padding-left: 80px;
    margin-bottom: 5px;
}

.check-writing-time {
    float: right;
    margin-top: 2px;
}

.submit-content {
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
}

.submit-score {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.submit-score-comment {
    color: #888;
    font-size: 11px;
    margin-top: 3px;
}

.submit-important-field {
    font-size: 17px;
    margin: 6px;
}

.submit-additional-fields {
    margin: 15px;
}

.submit-additional-fields a {
    margin: 10px;
}

.submit-additional-fields p {
    margin: 3px;
}

.submit-bad-verdict {
    font-size: 25px;
}

.submit-judge-comment {
    color: gray;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    margin: 8px;
    text-align: left;
}

/*
* CodeMirror additional styles
*/

.container .CodeMirror-selected {
    background-color: #aaf;
}

.line_predefined {
    background-color: #e7e7e7;
}

.container .CodeMirror-lines {
    background-color: #e7e7e7;
}

.container .CodeMirror-lines > div {
    background-color: white;
}

.check_code_area {
    border: 1px solid #bbb;
    margin-bottom: 10px;
    text-align: left;
}

.submit_code_area {
    text-align: left;
}

.submit_code_area .CodeMirror {
    font-size: 9pt;
    height: auto;
}

.submit_code_area .CodeMirror-scroll {
    overflow: visible !important;
}

.submit_code_area .CodeMirror-merge-2pane .CodeMirror-merge-gap {
    display: none;
}

.submit_code_area .CodeMirror-merge {
    border: none;
}

.submit_code_area .CodeMirror-merge-2pane .CodeMirror-merge-pane {
    width: 50%;
    border: 1px solid #bbb;
    margin-bottom: 20px;
}

.submit_code_area .CodeMirror-merge-2pane  .CodeMirror-merge-pane:first-child {
    border-right: none;
}

.submit_code_area .CodeMirror-merge-l-chunk {
    background: #ffc;
}

.submit_code_area .CodeMirror-merge-l-chunk-start {
    border-top: 1px solid #ee2;
}

.submit_code_area .CodeMirror-merge-l-chunk-end {
    border-bottom: 1px solid #ee2;
}

.submit_code_area .CodeMirror-merge-l-connect {
    fill: #ffc;
    stroke: #ee2;
    stroke-width: 1px;
}

.submit_code_area .CodeMirror-merge-collapsed-widget {
    color: #669;
    background: #ccf;
    border: 1px solid #ccf;
}
