{% extends "algo/base.html" %}
{% load staticfiles %}

{% block title %}
    Submits
    {% if algorithm %}
    of {{ algorithm.name }}
    {% endif %}
    by {{ author.username }} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="navigation_box">
    &laquo; <a href="{% url 'algo:index' %}">Scoreboard</a>
    {% if algorithm %}
    &laquo; <a href="{% url 'algo:history' author_username=author.username %}">
        {{ author.username }}
    </a>
    {% endif %}
</div>

<h3>
    Submits
    {% if algorithm %}
    of <i>{{ algorithm.name }}</i>
    {% endif %}
    by <i>{{ author.username }}</i>:
</h3>

<p>
    Total {{ submits|length }} submit{{ submits|length|pluralize }},
    {{ full_matches_count }} full match{{ full_matches_count|pluralize:"es" }}.
</p>

{% if submits %}
<table class="history_table">
    <thead>
        <th>ID</th>
        <th>Date</th>
        <th>Author</th>
        <th>Algorithm</th>
        <th>Verdict</th>
        <th>Test</th>
        <th>Match score</th>
        <th>Writing time</th>
    </thead>
    <tbody>
        {% for submit in submits %}
        <tr>
            <td>
                <a href="{% url 'algo:show_submit' submit.author.username submit.algorithm.slug submit.id %}">
                    {{ submit.id }}
                </a>
            </td>
            <td>
                {{ submit.date|date:"H:i:s" }}<br />
                {{ submit.date|date:"d M Y" }}
            </td>
            <td>{{ submit.author }}</td>
            <td>{{ submit.algorithm }}</td>
            <td>
                {% if submit.judge_verdict != None %}
                <span class="verdict_{{ submit.get_verdict_kind }}">
                    {{ submit.judge_verdict }}
                </span>
                {% endif %}
            </td>
            <td>
                {% if submit.judge_test != None %}
                {{ submit.judge_test }}
                {% endif %}
            </td>
            <td>
                {% if submit.is_scores_visible %}
                {{ submit.score|floatformat:1 }}%
                {% endif %}
            </td>
            <td>{{ submit.elapsed_seconds }} sec</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</ul>
{% endif %}
{% endblock %}
